<div class="container center">
    <h2>Your Events</h2>
    <div class="event_view">
        <table class="event_table">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>EVENTS</th>
                    <th>Sl.No</th>
                </tr>
            </thead>

            <tbody>
                <!-- <tr *ngFor="let item of events; let k = index;">
                    <th>{{k+1}}</th>
                    <th>{{item.date}}</th>
                    <th>{{item.message}}</th>
                    <button (click)="removeEvent(k)" class="btn btn-danger delete-button">Delete</button>
                    <button routerLink="/edit" class="btn btn-warning ms-2 " style="color: white">Edit</button>                </tr> -->

            </tbody>
        </table>
    </div>
</div>
