<div class="register_background">
    <div class="container">
        <div class="row">
            <div class="col-md-7"></div>
            <div class="col-md-5  register_form">
                <h3>REGISTER</h3>
                <form [formGroup]="registerForm" (ngSubmit)="register()">
    
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Name</label>
                        <input formControlName="name" type="text" class="form-control" id="exampleInputName">
                    </div>
    
                    <div *ngIf="this.registerForm.get('name')?.touched&&this.registerForm.get('name')?.errors" style="color: red;">invalid user name</div>
    
    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">User id</label>
                        <input formControlName="userid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
    
                    <div *ngIf="this.registerForm.get('userid')?.touched&&this.registerForm.get('userid')?.errors" style="color: red;">invalid user name</div>
    
    
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    </div>
    
                    <div *ngIf="this.registerForm.get('password')?.touched&&this.registerForm.get('password')?.errors" style="color: red;">invalid user name</div>
    
    
                    <button type="submit" class="btn btn-primary" style="margin-left: 200px;">Register</button><br>
                    <span style="margin-left: 170px;">All ready user..? </span><a class="login-link mt-5 text-primary" routerLink="" href="" >login</a> 			
    
                </form>
     
    
            </div>
        </div>
    </div>
</div>