<div class="dashboard">
    <div class="div">
        <h2>WELCOME {{userName}}</h2>
        <button (click)="signOut()" class="btn btn-warning">Sign out</button>
    </div>
    
    <div class="event_section" >
        <form class="event_form" action="" [formGroup]="eventForm" (ngSubmit)="addEvent()" >
            <div class="div">
                <label for="">Select Date : </label><br>
                <input formControlName="date" type="date">
            </div>
            <div style="margin-top: 10px;">
                <label for="">Enter your message</label> <br>
                <textarea formControlName="message" name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <button class="btn btn-success mt-2" style="margin-right: 5px;">Add Event</button>
            </div>
        </form>
        <button routerLink="/event"  class="btn btn-warning mt-2">View Events</button>
    
    </div>
</div>
